{% extends 'authentication/base.html' %}

{% block title %}Login System{% endblock %}

{% block content %}
<h1>SignUp</h1>

<div class="card">
    <div class="card-body shadow">
        <form action="{% url 'signup' %}" method="post">

            {% csrf_token %}
            <div class="row">
                <div class="col mb-3">
                    <label for="" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="fname" name="fname" required>
                </div>
            </div>

            <div class="row">
                <div class="col mb-3">
                    <label for="" class="form-label">Sobrenome</label>
                    <input type="text" class="form-control" id="lname" name="lname" required>
                </div>
            </div>

            <div class="row">
                <div class="col col-4">
                    <div class="mb-3">
                        <label for="" class="form-label">Usuário</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                </div>
                <div class="col col-8">
                    <div class="mb-3">
                        <label for="" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col col-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="pw1" name="pw1" required>
                    </div>
                </div>
                <div class="col col-6">
                    <div class="mb-3">
                        <label for="" class="form-label">Repita a Senha</label>
                        <input type="password" class="form-control" id="pw2" name="pw2"  required>
                    </div>
                </div>
            </div>
            <input type="submit" value="Sign Up" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock %}